body{
    margin: 0;
    background-color: #E9EBF4;
}

.body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.job-posting, .posting-applicant{
    margin: 10px;
    height: fit-content;
    width: 85%;
    padding: 20px;

    font-family: 'Montserrat';

    background-color: #FFFFFF;
    color: #09164E;

    border-radius: 10px;
}

.job-posting .post-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-posting .post-profile .com-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.job-posting .post-profile .com-profile div{
    font-size: 1.3em;
    font-weight: 500;
}

.job-posting .post-profile .com-profile .time{
    font-size: 1em;

    color: #09164e8f;
}

.job-posting .post-profile .edit{
    display: flex;
}

.post-contents{
    padding: 20px;
}

.post-contents .title{
    font-family: 'Montserrat';
    font-size: 2.5em;
    font-weight: 500;
}

.post-contents .content{
    font-size: 1.2em;
    font-family: 'Montserrat';
    font-weight: 500; 
    text-align: justify;
    text-wrap:pretty;
}

.posting-applicant .applicant{
    display: flex;
    justify-content: space-between;
}

.posting-applicant .applicant .applicant-applied{
    display: flex;
    align-items: center;
}

.posting-applicant .applicant .applicant-applied .applied{
    margin: 10px;
    font-size: 2em;
    font-weight: 500;
}

.posting-applicant .applicant .applicant-applied .applied .applied-position{
    font-size: 0.8em;
    font-weight: 400;
}

.posting-applicant .check-cancel{

}


.job-categories {
    display: flex;
    gap: 15px;
}
.job-category {
    background-color: #6574f7;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.3em;
}