* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(244, 243, 243);
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #e1b502;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 10px;
}

section.applicant-section {
    display: flex;
    justify-content: space-between; /* Ensures content and sidebar are spaced */
    margin: 20px auto;
    width: 90%;
    max-width: 1200px; /* Optional max width */
}

.profile-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250%;
}

.top-column {
    display: flex;
    
    width: 100%;
}

.bottom-column {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sidebar {
    width: 25%; 
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px -10px rgba(5, 23, 109, 0.35);
    float: right;
}

.profile-header {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 29px;
    width: 133%; 
    display: flex; 
    align-items: flex-start;
    position: relative; 
    box-shadow: 0 2px 15px -10px rgba(5, 23, 109, 0.35);
}

.button-container {
    display: flex; 
    gap: 10px;
    margin-bottom: 50px; 
}

.profile-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e04b3d;
    margin: 0 10px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.applicant-details {
    display: flex;
}

.applicant-details .applicant{
    position: absolute;
    bottom: 20px;
}


.applicant-details .applicant h1 {
    color: #09164E;
    font-family: 'Montserrat';
    font-size: 2em;
    margin: 0 10px;
}

.age-gender {
    font-size: 0.6em;
    font-weight: 500;
    color: rgba(9, 22, 78, 0.47);
}

.applicant-details p {
    font-size: 14px;
    color: gray;
}

.button-container {
    position: absolute;
    right: 20px; /* Positioning both buttons towards the right side */
    top: 10px;  /* Align them near the top */
    display: flex;
    gap: 10px;
}
.edit-profile-bttn,
.logout-bttn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1em;
    
}

.logout-bttn {
    background-color: #D8DDF2;
    color: #09164E;
}

.edit-profile-bttn{
    background-color: #4261dc;
    color: white;
}

.recently-applied {
    width: 75%;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 2px 15px -10px rgba(5, 23, 109, 0.35);
}

.recently-applied h1 {
    font-size: 1.8em;
    font-family: 'Mohave';
    font-weight: 500;
    color: #09164E;
    border-bottom: 2px solid #B3B8CF;
}

.job-listings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 30px 0;
}

.job-posting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #d7dcf268;
    border-radius: 5px;
    color: #09164E;
}

.job-posting p strong{
    font-size: 2em;
    font-family: 'Montserrat';
    font-weight: 500;
    padding: 0 10px;
}

.job-posting .company-name{
    font-family: 'Onest';
    font-size: 1.1em;
}


.sidebar {
    width: 25%; /* Sidebar is on the right with some spacing */
    height: fit-content;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #09164ea9;
    border-radius: 8px;
    box-shadow: 0 2px 15px -10px rgba(5, 23, 109, 0.35);
    float: right;
}

.sidebar div{
    margin: 10px;
    color: #09164E;
}

.sidebar h2{
    font-size: 1.5em;
    font-family: 'Mohave';
}

.sidebar div h4{
    font-size: 1em;
    font-family: 'Montserrat';
}

.sidebar div p{
    font-family: 'Onest';
    opacity: 80%;
    font-size: 1em;
    padding: 0 0 0 27.5px;
}