body{
    background-color: #F2F3F8;
    margin: 0;
}

.register-page{
    display: flex;
    flex-wrap: wrap;
}

.left-panel{
    display: flex;
    
    flex-wrap: wrap;

    height: 100%;
    width: 60%;

    padding: 50px;


}

h2{
    color: #09164E;
    font-family: 'Montserrat';
    font-size: 2em;
    margin: 10px 0 10px 0;
}

.right-panel{
    position: fixed;
    top: 0;
    right: 0;
    
    background-color: #5271FF;
    height: 100%;
    width: 40%;
    
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.text{
    margin: 40px;
    
    word-wrap: break-word;
    word-break: break-all;
}

.text-registeras{
    color: white;
    
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: 700;

    margin-bottom: -10px;

}

.text-usertype{
    color: #FFC83C;
    font-size: 5em;
    font-family:'Montserrat';
    font-weight: 700;
}

.text-or{
    color: white;

    font-family: 'Mohave';
    font-size: 28px;
}


a:link{
    color: #FFC83C;
    text-decoration: none;
}

a:visited{
    color: #FFC83C;
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0 0 0;
}

.button{
    background-color: #5271FF;
    color: #FFC83C;

    border: none;
    border-radius: 40px;
    padding: 15px 50px;

    font-family: 'Onest';
    font-size: 2em;
    font-weight: 700;
    
}

.button:hover{
    cursor: pointer;
}

.jobable{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #F2F3F8;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    font-family: 'Mohave';
    font-size: 35px;
    font-weight: 600;
}