header{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    color: #09164E;
    box-shadow: -1px 10px 20px -5px #05166d38;

    font-family: 'Mohave';
    font-size: 1.6em;

    margin: 0;
    padding: 1%;
}

.web-name{
    padding-left: 20px;
    display: flex;
    align-items: center;

    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2em;
}

.able{
    color: #FFC83C;
}

.nav{
    display: flex;
    align-items: center;
    gap: 100px;

    padding-right: 50px;
}

.options{
    display: flex;
    gap: 40px;

    margin: 5px;
}

.options a{
    text-decoration: none;
    
    font-weight: 600;
    color: #09164E;
}

.icons{
    display: flex;
    align-items: center;
    right: 0;
}

.icons .notif{
    width: 45%;
    height: 45%;
}

.icons .profile{
    width: 80%;
    height: 80%;
}