/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex; /* Use flexbox to center */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Ensure body takes full viewport height */
}

/* Welcome Screen */
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;

    background-color: #3d68f5;
    color: white;
    text-align: center;

    border-radius: 20px;
}

.welcome-screen .text{
    margin: 30px 0 60px 0;
}


.welcome-screen .text h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4em;

    margin: 0;
}

.welcome-screen .text .highlight {
    color: #f6c24e;
}

.welcome-screen .text p {
    font-family: 'Mohave';
    font-weight: 100;
    font-size: 1.5em;
}

.button-container {
    display: flex;
    gap: 100px;
}

button {
    padding: 20px 60px;
    font-size: 1.5em;

    border: none;
    border-radius: 50px;
    cursor: pointer;

    box-shadow: 0 3px 4px #0000003f;
}

.btn {
    background-color: white;
    color: #f6c24e;
    font-weight: bold;
    transition: 0.9s;
}

.btn:hover {
    background-color: #f6c24e;
    color: white;
    font-weight: bold;
}
